[class*='column-'] {
	float: left;
	padding: 1em;
	width: 100%;
	min-height: 1px;
}

.wrapper {
	width: 100%;
	max-width: $grid-max-width;
}

@for $i from 1 through $grid-columns {
	.column-#{$i} {
		width: 99% / $grid-columns * $i;
		border: 1px solid $black;
		margin: 1px;
	}
}

.row{
    display: table;
    margin: 0 auto;
}