h2 {
	text-align: center;
	text-decoration: none;
}

a {
	text-decoration: none;
}

section { 
	font-size: ms(0); 
	color: white;
}

h5{ font-size: ms(1); }
h4{ font-size: ms(2); }
h3{ font-size: ms(3); }
h2{ font-size: ms(4); }