/*********************
      VARIABLES
*********************/
$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;
$gray: #888888;
$white: #ffffff;
$black: #000000;
$gurugreen: #6cb369;
$gurugold: #dec43e;
$gurualternate: #4a4d50;
$linkColour: $blue;
$linkHoverColour: lighten($blue, 20%);

// Grid Variables
$grid-columns: 20;
$grid-max-width: 65em;

// Breakpoints
$mobile-breakpoint: "only screen and (min-width: 20em)";
$desktop-breakpoint: "only screen and (min-width: 30em)";

